Source: snoozeclient
Section: misc
Priority: optional
Maintainer: Eugen Feller <eugen.feller@inria.fr> 
Standards-Version: 3.8.0
Build-Depends: debhelper (>= 5) 
Homepage: http://snooze.inria.fr

Package: snoozeclient
Architecture: all
Depends:
Description: A command-line interface (CLI) for the Snooze cloud management framework.
